<a href="https://colab.research.google.com/github/Kurniawannp02/Tugas-Pt3-DM/blob/main/TgsPt3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('Salary Data.csv')
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(x[:, 4:5])
x[:, 4:5] = imputer.transform(x[:, 4:5])

print(x)

print(y)

[[32.0 'Male' "Bachelor's" 'Software Engineer' 5.0]
 [28.0 'Female' "Master's" 'Data Analyst' 3.0]
 [45.0 'Male' 'PhD' 'Senior Manager' 15.0]
 ...
 [29.0 'Female' "Bachelor's" 'Junior Project Manager' 2.0]
 [34.0 'Male' "Bachelor's" 'Senior Operations Coordinator' 7.0]
 [44.0 'Female' 'PhD' 'Senior Business Analyst' 15.0]]
[ 90000.  65000. 150000.  60000. 200000.  55000. 120000.  80000.  45000.
 110000.  75000. 140000.  65000. 130000.  40000. 125000.  90000. 115000.
  35000. 180000.  80000. 190000.  50000.  60000. 140000.  45000. 110000.
  40000. 140000.  90000. 250000.  55000.  75000.  65000. 170000.  45000.
  60000. 115000.  40000. 160000.  80000. 190000.  60000.  45000. 130000.
  40000.  75000. 180000. 120000.  35000. 130000.  85000.  60000. 200000.
  50000.  95000.  65000. 140000.  55000. 105000. 170000.  50000.  80000.
 180000.  35000.  90000. 120000.  45000.  90000. 150000.  65000.  70000.
 190000.  40000. 120000.  95000. 160000. 100000. 180000.  55000.  70000.
  80000.  30000. 250000.  40000.  95000.  45000.  80000. 135000.  55000.
 120000.  40000. 105000. 170000.  75000.  65000. 160000.  35000.  90000.
 110000.  45000.  95000. 150000.  50000.  80000. 220000.  50000.  60000.
 100000.  40000. 110000.  95000. 130000.  90000.  35000.  95000.  65000.
 170000.  45000. 120000. 100000. 180000.  50000.  80000. 140000.  40000.
  95000. 110000.  50000. 105000. 160000.  45000. 100000. 160000.  35000.
  55000. 140000.  50000.  60000. 120000.  40000. 110000.  50000. 135000.
  40000.  90000. 150000.  60000.  80000. 175000.  45000. 120000. 140000.
  35000.  95000. 110000.  50000. 115000. 185000.  40000.  90000. 175000.
  45000.  80000. 120000.  35000. 110000. 150000.  50000. 105000. 180000.
  40000.     nan 140000.  45000.  85000. 140000.  50000.  80000. 170000.
  40000. 105000. 145000.  40000.  85000. 130000.  95000. 100000. 180000.
  35000.  95000. 170000.  45000.  95000. 120000.  40000.  90000. 155000.
  55000. 110000. 180000.  45000. 130000.  45000.  90000. 160000.  50000.
 120000. 170000.  40000. 110000. 150000.  40000.  85000. 130000. 100000.
  95000. 180000.  35000. 100000. 170000.  45000. 100000. 140000.  40000.
 105000. 160000.  70000. 120000. 190000.  45000. 120000.  50000.  85000.
 140000.  45000. 100000. 140000.  70000. 120000. 160000.  40000. 120000.
 150000.  70000.  95000. 180000.  50000.  95000. 170000.  40000. 110000.
 150000.  40000.  85000. 130000. 100000.  95000. 180000.    350.     nan
 120000. 160000.  50000. 110000.  40000.  95000. 140000.  60000. 110000.
 150000.  60000.  90000. 180000.  40000. 120000. 160000.  70000.  95000.
 180000.  50000.  95000. 170000.  35000. 100000. 150000.  60000.  85000.
 130000.  65000. 110000. 180000.  40000.  90000. 140000.  60000. 130000.
 160000.  40000. 100000. 180000.  55000. 120000. 150000.  70000.  95000.
 180000.  50000. 120000. 170000.  35000. 100000. 150000.  60000.  85000.
 130000.  80000.  95000.  40000. 120000. 160000.  65000. 130000. 180000.
  40000. 100000. 150000.  55000. 110000. 180000.  50000. 130000. 160000.
  60000.  95000. 170000.  40000.  90000. 150000.  70000.  90000. 170000.
  50000. 150000. 160000.  60000.  85000. 180000.  35000. 110000. 160000.
  55000. 110000. 180000.  50000. 130000. 160000.  60000.  95000. 170000.
  40000.  90000. 150000.  70000.  90000. 170000.  50000. 150000. 160000.
  60000.  85000. 170000.  40000.  90000. 150000.]